.two {
  background: #16BFFD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,#22c1c3, #CB3066);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #22c1c3, #CB3066); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}